@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
    --primary-fg-color: #212529;
    --secondary-fg-color: #868e96;
}

* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    color: var(--primary-fg-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f8f9fa;
}

.container {
    min-width: 40rem;
}

.header {
    padding: 1rem 0 1.5rem 0;
    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: column;

    border-bottom: 2px dotted black;
}

.header__name {
    margin: 0;
}

.header__job {
    display: block;
    margin: 0.5rem 0;
    color: var(--secondary-fg-color);

    font-size: 1rem;
}

.header__email, .header__github, .header__phone {
    margin-left: auto;
}